
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  .filters{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center; 
    margin-bottom: 10px;
  }

  .master {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: cursive;
  }